.caroussel {
    height: 200px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    @include tablettes-only{
        height: 30vh;
    }
    @include desktop-only{
        height: 350px;
    }
    @include largeScreen-only{
        height: 500px;
    }
    .caroussel-left, .caroussel-right{
        display: block;
        position: absolute;
        color: $color-2;
        font-size: 30px;
        z-index: 2;
        @include tablettes-only{
            font-size: 55px;
        }
        @include desktop-only{
            font-size: 80px;
        }
        @include largeScreen-only{
            font-size: 95px;
        }
    }
    .caroussel-left{
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
    }
    .caroussel-right {
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
    }
    .caroussel-count{
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        span{
            color: $color-2;
            font-weight: $font-weight-1;
            font-size: $font-size-4;
        }

    }
    img{
        height: 200px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 1;
        @include tablettes-only{
            height: 290px;
        }
        @include desktop-only{
            height: 350px;
        }
        @include largeScreen-only{
            height: 490px;
        }
    }
}