.about{
    display: flex;
    flex-direction: column;
    @include desktop-only{
        align-items: center;
    }
    @include largeScreen-only{
        align-items: center;
    }
    img{
        border-radius: 5px;
        margin-bottom: 5%;
        @include tablettes-only{
            border-radius: 10px;
            width: 100%;
            margin-bottom: 3%;
        }
        @include desktop-only{
            border-radius: 25px;
            width: 100%;
            margin-bottom: 2%;
        }
        @include largeScreen-only{
            border-radius: 25px;
            margin-bottom: 1.5%;
        }
    }
    .dropdown-content{
        min-height: 140px;
    }
}