.error{
    min-height: 70vh;
    color : $color-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .error-titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1, h2{
            margin: 0;
        }
        h1{
            font-size: 96px;
            @include desktop-only{
                font-size: 150px;
            }
            @include largeScreen-only{
                font-size: 288px;
                font-weight: 700;
            }
        }
        h2{
            font-size: $font-size-5;
            text-align: center;
            @include desktop-only{
                font-size: 20px;
            }
            @include largeScreen-only{
                font-size:36px;
            }
        }
    }
    .error-redirect, a{
        text-align: center;
        padding-top: 130px;
        color : $color-1;
        font-size: $font-size-5;
        font-weight: $font-weight-1;
        @include desktop-only{
            font-size: 18px;
        }
        @include largeScreen-only{
            font-size:18px;
        }
    }
}